<h1>new</h1>
<%= image_tag @image_url %>
<%= form_with model: @post, url: public_posts_path, local: true do |f| %>
    <%= f.hidden_field :image_url, :value => @image_url %>
    <%= f.label :"シューズ名"%>
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :"評価コメント"%>
    <%= f.text_area :comment %>
    <%= f.label :evaluation,'評価', class:'star-title' %>
    <div id='post_raty'></div>
    <%= f.submit "投稿" %>
<% end %>

<script>
var elem = document.getElementById('post_raty');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'post[evaluation]',
  };
  raty(elem,opt);
</script>
