<h1>詳細</h1>
<%= @post.image %>
<%= @post.name %>
<%= @post.evaluation %>
<%= @post.comment %>
<% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to public_post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to public_post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
