<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-10 mt-5 mx-auto">
            <h1 class="text-success">シューズ名を入力して検索</h1>
            <div class="d-flex justify-content mx-5 mb-3">
                <%= form_with model: @shoe, url: public_shoes_search_path, method: :get, local: true do |f| %>
                    <div class="input-group">
                        <%= f.text_field :keyword, value: params[:keyword], class: "form-control search-control", placeholder: "シューズ名" %>
                        <span class="input-group-btn input-group-append">
                            <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
                                <i class="fas fa-search"></i> 検索</submit>
                            <% end %>
                        </span>
                    </div>
                <% end %>
            </div>
            <% if @shoes.present? %>
            <% @shoes.first(10).each do |shoe| %>
                <table class="table table-borderless border border-success">
                    <tr>
                        <td>
                            <%= image_tag(shoe['mediumImageUrls'][0], size: "200x150") %>
                        </td>
                        <td>
                            <div class="mb-5">
                                <%= link_to shoe.name, "#{shoe.url}" %>
                            </div>
                            <%= link_to "このシューズを投稿する", new_public_shoe_path(image_url: shoe['mediumImageUrls'][0], shoe_url: shoe.url), class: "btn btn-outline-success btn-block mb-3" %>
                        </td>
                    </tr>
                </table>
            <% end %>
            <% else %>
            <h4>キーワードを入力してください</h4>
            <% end %>
        </div>
    </div>
</div>
