<h1>シューズ名を入力して検索</h1>
<div class="search-box">
    <%= form_with model: @shoe, url: public_shoes_search_path, method: :get, local: true do |f| %>
    <div class="form-group">
        <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
        <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
    </div>
    <% end %>
<% if @shoes.present? %>
    <% @shoes.first(10).each do |shoe| %>
        <div class="list-group">
            <%= image_tag(shoe['mediumImageUrls'][0]) %>
            <%= link_to "このシューズを投稿する", new_public_shoe_path(image_url: shoe['mediumImageUrls'][0]), class: "btn btn-success ml-5" %>
        </div>
    <% end %>
<% end %>
</div>
