<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-8 mt-5 ml-3">
            <h1>シューズ名を入力して検索</h1>
            <div class="d-flex justify-content mx-5">
                <%= form_with model: @shoe, url: public_shoes_search_path, method: :get, local: true do |f| %>
                    <div class="input-group">
                        <%= f.text_field :keyword, value: params[:keyword], class: "form-control search-control", placeholder: "シューズ名" %>
                        <span class="input-group-btn input-group-append">
                            <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
                                <i class="fas fa-search"></i> 検索</submit>
                            <% end %>
                        </span>
                    </div>
                <% end %>
            </div>
            <% if @shoes.present? %>
            <% @shoes.first(10).each do |shoe| %>
                <table class="table table-borderless">
                    <tr>
                        <td><%= image_tag(shoe['mediumImageUrls'][0], size: "200x200") %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "このシューズを投稿する", new_public_shoe_path(image_url: shoe['mediumImageUrls'][0]), class: "btn btn-success mb-3" %></td>
                    </tr>
                </table>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
