<div class="container px-3 px-sm-0">
  <div class="row">
    <h1 class="mx-auto mt-5">詳細</h1>
  </div>
  <div class="row">
    <div class="col-md-3 my-auto ml-3">
      <%= render 'public/users/sidebar', user: @user %>
    </div>
    <div class="col-md-3 my-auto ml-4">
      <%= image_tag @shoe.photo_image_url, size: '200x150' %>
    </div>
    <div class="col-md-5 mt-5">
      <table class="table table-borderless">
        <tr>
          <td><h4><%= @shoe.name %></h4></td>
        </tr>
        <tr>
          <td>
            評価：<span id="post_raty"></span>
            <script>
              var elem = document.getElementById('post_raty');
              var opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              score: <%= @shoe.evaluation %>,
              readOnly: true,
              };
              raty(elem,opt);
            </script>
          </td>
        </tr>
        <tr>
          <td><%= @shoe.comment %></td>
        </tr>
        <tr>
          <td>
            <% if @shoe.favorited_by?(current_user) %>
              <p>
                <%= link_to public_shoe_favorites_path(@shoe), method: :delete, class: "text-dark" do %>
                  ♥<%= @shoe.favorites.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to public_shoe_favorites_path(@shoe), method: :post, class: "text-dark" do %>
                  ♡<%= @shoe.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>コメント件数：<%= @shoe.comments.count %></td>
        </tr>
        <tr>
          <td>
            <div>
              <% @shoe.comments.each do |comment| %>
                <%= comment.user.nick_name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_content %>
                <% if comment.user == current_user %>
                  <%= link_to "削除", public_shoe_comment_path(comment.shoe, comment), method: :delete %>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= form_with model: [@shoe, @comment], url: public_shoe_comments_path(@shoe.id) do |f| %>
                <%= f.text_area :comment_content, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>
          </td>
        </tr>
          <% if @shoe.user == current_user %>
          <tr>
            <td>
              <%= link_to "投稿編集", edit_public_shoe_path(@shoe), class: "btn btn-success mx-2" %>
              <%= link_to "削除", public_shoe_path(@shoe), method: :delete, class: "btn btn-danger mx-2" %>
            </td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
