<div class="container px-3 px-sm-0">
  <div class="row">
    <h1 class="mx-auto mt-5 text-success">詳細</h1>
  </div>
  <div class="row">
    <div class="col-md-3 my-auto">
      <%= render 'public/users/sidebar', user: @user %>
    </div>
    <div class="col-md-4 mt-5">
      <div class="bg-light border border-success p-3">
        <%= image_tag @shoe.photo_image_url, size: '250x200' %></br>
        <%= link_to "楽天市場で見る", @shoe.rakuten_shoes_url %>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      <table class="table table-borderless border border-success">
        <% if @shoe.user == current_user %>
          <tr>
            <td>
              <%= link_to "投稿編集", edit_public_shoe_path(@shoe), class: "btn btn-outline-success mx-2" %>
              <%= link_to "削除", public_shoe_path(@shoe), method: :delete, class: "btn btn-outline-danger mx-2", "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><h4><%= @shoe.name %></h4></td>
        </tr>
        <tr>
          <td>
            評価：<span id="post_raty-<%= @shoe.id %>"></span>
            <script>
                var elem = document.getElementById('post_raty-<%= @shoe.id %>');
                $('#post_raty-<%=@shoe.id%>').empty();
                var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= @shoe.evaluation %>,
                readOnly: true,
                };
                console.log(opt);
                raty(elem,opt);
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <p>コメント</p>
            <div class="border">
              <%= @shoe.comment %>
            </div>
          </td>
        </tr>
        <tr>
          <% if user_signed_in? %>
            <td>
              <% if @shoe.favorited_by?(current_user) %>
                <p>
                  <%= link_to public_shoe_favorites_path(@shoe), method: :delete, class: "text-dark" do %>
                    ♥<%= @shoe.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to public_shoe_favorites_path(@shoe), method: :post, class: "text-dark" do %>
                    ♡<%= @shoe.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </td>
          <% else %>
            <td>
              <p>♥<%= @shoe.favorites.count %> いいね</p>
            </td>
          <% end %>
        </tr>
        <tr>
          <td>コメント件数：<%= @shoe.comments.count %></td>
        </tr>
        <tr>
          <td>
            <div>
              <% @shoe.comments.each do |comment| %>
                <table class="table">
                  <tr>
                    <td>
                      <%= comment.created_at.strftime('%Y/%m/%d') %>
                      <%= comment.user.nick_name %>
                      <% if comment.user == current_user %>
                        <%= link_to "削除", public_shoe_comment_path(comment.shoe, comment), method: :delete, class: "btn btn-outline-danger" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr class=" border">
                    <td><%= comment.comment_content %></td>
                  </tr>
                </table>
              <% end %>
            </div>
            <% if user_signed_in? %>
              <div>
                <%= form_with model: [@shoe, @comment], url: public_shoe_comments_path(@shoe.id) do |f| %>
                  <%= f.text_area :comment_content, rows: '5', placeholder: "コメントをここに" %>
                  <%= f.submit "送信する" %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
