<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <h1>検索結果</h1>
      <%= render "search" %>
      <div class="d-flex justify-content-end">
        <%= link_to '新着順', search_path(latest: "true", keyword: params[:keyword]), class: "border border-primary px-3" %>
        <%= link_to '古い順', search_path(old: "true", keyword: params[:keyword]), class: "border border-primary px-3" %>
        <%= link_to 'いいねが多い順', search_path(favorites: "true", keyword: params[:keyword]), class: "border border-primary" %>
      </div>
      <table class="table text-center">
        <thead>
          <tr class="table-primary">
            <th>投稿日</th>
            <th>投稿者</th>
            <th>シューズ名</th>
            <th>評価</th>
            <th>いいね数</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <% @shoes.each do |shoe| %>
        <tbody>
          <tr>
            <td><%= shoe.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to public_user_path(shoe.user.id), class: "text-dark" do %>
                <%= shoe.user.nick_name %>
              <% end %>
            </td>
            <td>
              <%= link_to public_shoe_path(shoe.id), class: "text-dark" do %>
                <%= shoe.name %>
              <% end %>
            </td>
            <td>
              <div id="post_raty-<%= shoe.id %>"></div>
              <script>
                var elem = document.getElementById('post_raty-<%= shoe.id %>');
                var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                score: <%= shoe.evaluation %>,
                readOnly: true,
                };
                raty(elem,opt);
              </script>
            </td>
            <td><%= shoe.favorites.count %>いいね</td>
            <% if user_signed_in? %>
              <td><%= link_to "詳細", public_shoe_path(shoe.id), class: "btn btn-outline-info" %></td>
            <% elsif admin_signed_in? %>
              <td><%= link_to "詳細", admin_shoe_path(shoe.id), class: "btn btn-outline-info" %></td>
            <% else %>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
