<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <h2 class="text-success">会員一覧</h2>
      <table class="table text-center border border-success">
        <thead>
          <tr class="bg-success text-white">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id), class: "text-dark" do %>
                <%= user.nick_name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td><%= link_to "詳細", admin_user_path(user.id), class: "btn btn-outline-info" %></td>
            <td><%= link_to "編集", edit_admin_user_path(user), class: "btn btn-outline-success" %></td>
            <td><%= link_to "アカウント削除", admin_user_path(user), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に退会しますか？" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
