<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <h1 class="text-success">レビュー覧</h1>
      <%= render "searches/search" %>
      <div class="d-flex justify-content-end mt-2">
        <%= link_to '新着順', admin_shoes_path(latest: "true"), class: "border border-primary px-3" %>
        <%= link_to '古い順', admin_shoes_path(old: "true"), class: "border border-primary px-3" %>
        <%= link_to 'いいねが多い順', admin_shoes_path(favorites: "true"), class: "border border-primary px-3" %>
      </div>
      <table class="table text-center border border-success">
        <thead>
          <tr class="bg-success text-white">
            <th>投稿日</th>
            <th>投稿者</th>
            <th>シューズ名</th>
            <th>評価</th>
            <th>いいね数</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <% @shoes.each do |shoe| %>
        <tbody>
          <tr>
            <td><%= shoe.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to admin_user_path(shoe.user.id), class: "text-dark" do %>
                <%= shoe.user.nick_name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_shoe_path(shoe.id), class: "text-dark" do %>
                <%= shoe.name %>
              <% end %>
            </td>
            <td id="post_raty-<%= shoe.id %>">
              <script>
                var elem = document.getElementById('post_raty-<%= shoe.id %>');
                $('#post_raty-<%=shoe.id%>').empty();
                var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= shoe.evaluation %>,
                readOnly: true,
                };
                console.log(opt);
                raty(elem,opt);
              </script>
            </td>
            <td><%= shoe.favorites.count %>いいね</td>
            <td><%= link_to "詳細", admin_shoe_path(shoe.id), class: "btn btn-outline-info" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
        <%= paginate @shoes %>
    </div>
  </div>
</div>