<h1>詳細</h1>
<%= image_tag @shoe.photo_image_url, size: '200x200' %>
<table>
  <tr>
    <td><%= @shoe.name %></td>
  </tr>
  <tr>
    <td>
      <p>評価:<%= @shoe.evaluation %></P>
      <div id="post_raty"></div>
      <script>
        var elem = document.getElementById('post_raty');
        var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        score: <%= @shoe.evaluation %>,
        readOnly: true,
        };
        raty(elem,opt);
      </script>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><%= @shoe.comment %></td>
  </tr>
  <tr>
    <td>
      ♥<%= @shoe.favorites.count %> いいね
    </td>
  </tr>
</table>