<h2>プロフィール</h2>
      <%= image_tag user.get_profile_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th><%= user.nick_name %></th>
          </tr>
          <tr>
            <th><%= user.gender %></th>
          </tr>
          <tr>
            <th><%= user.foot_size %></th>
          </tr>
          <tr>
            <th><%= user.foot_width %></th>
          </tr>
        </tbody>
      </table>