      <table class="table text-center" border="2">
        <thead>
          <th>プロフィール</th>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100), class: "rounded-pill" %></td>
          </tr>
          <tr>
            <th><%= user.nick_name %></th>
          </tr>
          <tr>
            <th><%= user.gender_i18n %></th>
          </tr>
          <tr>
            <th><span>足のサイズ：</span><%= user.foot_size %></th>
          </tr>
          <tr>
            <th><span>足の横幅：</span><%= user.foot_width_i18n %></th>
          </tr>
          <% if user == current_user %>
            <tr>
              <td><%= link_to "編集", edit_public_user_path(user), class: "btn btn-outline-success btn-block" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>